<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Enviar Fotos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
  <form [formGroup]="form" (ngSubmit)="sendPost()">
    <ion-item>
      <ion-label >Mensagem: </ion-label>
      <ion-input formControlName="message"></ion-input>
    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col size="6" *ngFor="let photo of photoService.photos">
          <ion-img [src]="photo.webviewPath"></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>


    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
      <ion-fab-button class="fix"  (click)="addPhotoToGallery()">
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-button expand="full" type="submit">Send</ion-button>
  </form>
  <!--<ion-button expand="full" (click)="buscar()">Listar</ion-button>-->

  <div>
    <ion-card *ngFor="let p of posts">
      <ion-card-header>
        <ion-card-title class="titulo">{{p.message}}</ion-card-title>
      </ion-card-header>
      <ion-card-content class="conteudo_card">
        <ng-container *ngIf="p.autorizacao == true">
          <p>Situação: AUTORIZADO</p>
        </ng-container>
        <ng-container *ngIf="p.autorizacao == false">
          <p>Situação: NÃO AUTORIZADO</p>
        </ng-container>
        <ng-container *ngIf="p.autorizacao == null">
          <p>Situação: NÃO AUTORIZADO</p>
        </ng-container>
        <ng-container>
          <p>Data: {{p.data.substr(0,10)}}</p>
        </ng-container>
      </ion-card-content>
      <ion-card *ngFor="let k of p.images">
        <img [src]="k.url" />
      </ion-card>
    </ion-card>
  </div>
</ion-content>
